/* html.dark {
    background-color: #353434;
    color: #fff;
}

html {
    background-color: #f7f7f7;
}

.dark .nav-links a {
    color: #fff;
}

.dark div {
    color: #fff;
}

.dark .session {
    background-color: #535252;
    color: #fff;
}

.session {
    background-color: #fff;
    color: #535252;
}

.dark div div div {
    color: #404854;
}

.dark div div {
    color: #404854;
}

h3 {
    color: #fff;
}

h3.dark {
    color: #404854;
}

a {
    color: #fff;
}

a.dark {
    color: #404854;
}

svg.svg {
    color: #fff;
}

svg.dark.svg {
    color: #404854;
}

p {
    color: #fff;
}

p.dark {
    color: #404854;
}

span {
    color: #ffffff;
}

span.dark {
    color: #404854;
} */