---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Formacion from '../components/Formacion.astro';
import Gallery from '../components/Gallery.astro';
import NavBar from '../components/NavBar.astro';
import PersonalCard from '../components/PersonalCard.astro';
import ProyectsList from '../components/ProyectsList.astro';
import Resume from '../components/Resume.astro';
import Skill from '../components/Skill.astro';
import Works from '../components/Works.astro';
//Use astro-seo for SEO purposes

const lang = {
  en: {
    name: 'English',
    level: 'A2',
  },
  es: {
    name: 'Español',
    level: 'nativo',
  },
};

---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='generator' content={Astro.generator} />
    <title>Portfolio</title>
  </head>
  <body
    class='font-poppins flex flex-col items-center gap-8 w-full'
  >
    <NavBar />
    <div class='flex flex-col items-center gap-8 w-11/12 lg:flex-row lg:items-start md:w-8/12'>
      <section class='flex justify-center lg:sticky lg:top-24'>
        <PersonalCard
          job="Full Stack Developer"
          email="marco.developer@outlook.com"
          place="Cienfuegos, Cuba"
          languages={lang}
        />
      </section>
      <div class='flex flex-col items-center gap-8 mt-8 md:mt-2 w-full'>
        <Resume />
        <Skill />
        <Works />
        <ProyectsList />
        <Formacion />
        <Gallery />
      </div>
    </div>
    <footer class='w-full relative flex flex-col items-center gap-16 container'>
      <Footer />
    </footer>
  </body>
</html>