---
import Pc from './svgs_components/Pc.astro'
import World from './svgs_components/World.astro';
import Calendar from './svgs_components/Calendar.astro';
import Clock from './svgs_components/Clock.astro';
const { puesto, empresa, ubicacion, tiempo, fecha} = Astro.props;
const items = [
  { icon: Pc, text: empresa },
  { icon: World, text: ubicacion },
  { icon: Calendar, text: fecha },
  { icon: Clock, text: tiempo },
];
---

<div class="flex flex-col gap-2 w-full p-2 px-4">
  <p class="text-sm leading-relaxed text-gray-800">{puesto}</p>
  <div class="md:grid grid-cols-2">
    {items.map(item => (
      <p class="flex items-center gap-2 text-xs leading-relaxed text-gray-500">
        <item.icon />
        {item.text}
      </p>
    ))}
  </div>
</div>