<div class="flex flex-col items-center bg-white shadow-md rounded-md  mb-2 p-4">
		<h2 class="mb-4 font-semibold relative">
      <svg class="absolute"width="28" height="28" viewBox="0 0 11 11"><path d="M2 7.3c.3-.2.5-.5.5-.8c0-.4-.2-.7-.6-.9V4.4L5.5 6L11 3.5L5.5 1L0 3.5l1.2.5v1.6c-.4.2-.6.5-.6.9c0 .3.2.6.5.8L.6 9c-.3 1 .5 1 .5 1h1s.8 0 .5-1L2 7.3z" fill="#000000"/><path d="M3.5 6.2v.3c0 .4-.2.8-.4 1.1c.2.4.4.8.4 1.4v.6c.5.2 1.2.4 2 .4C8 10 9 8.5 9 8.5v-3L5.5 7.1l-2-.9z" fill="#000000"/></svg>
      Formación
    </h2>
    <div class="flex flex-col gap-4 text-sm leading-relaxed">
      <p>Me apasiona expandir constantemente mis conocimientos, y encuentro gran satisfacción en la combinación de diversas técnicas de estudio para convertir el aprendizaje en una experiencia divertida y enriquecedora.</p>
      <p>Mis metas futuras son adquirir habilidades en tecnologías basadas en la nube, como <span class='font-semibold'>Amazon Web Services</span> y  optimizar mi flujo de trabajo con <span class='font-semibold'>Docker</span>. Además continuré perfeccionando mi manejo de la <span class='font-semibold'>inteligencia artificial</span> como una herramienta fundamental en mi trabajo.</p>
    </div>
</div>


<style>
  svg {
    top: -15px;
    right: -20px;
    transform:scaleX(-1) rotate(-30deg);
  }

  h2:hover {
    svg {
      transform:scaleX(-1) rotate(-15deg);
    }
  }
</style>