  <div class="carousel w-full rounded-md">
	<div id="slide1" class="carousel-item relative w-full">
	  <img
		src="./certificados/algoritmos_diagramadeflujo.png"
		class="w-full" />
	  <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
		<a href="#slide15" class="btn btn-circle">❮</a>
		<a href="#slide2" class="btn btn-circle">❯</a>
	  </div>
	</div>
	<div id="slide2" class="carousel-item relative w-full">
	  <img
	  	src="./certificados/analizy_data.png"
		class="w-full" />
	  <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
		<a href="#slide1" class="btn btn-circle">❮</a>
		<a href="#slide3" class="btn btn-circle">❯</a>
	  </div>
	</div>
	<div id="slide3" class="carousel-item relative w-full">
	  <img
	  	src="./certificados/basesdedatos_modularizacion_deploy.png"
		class="w-full" />
	  <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
		<a href="#slide2" class="btn btn-circle">❮</a>
		<a href="#slide4" class="btn btn-circle">❯</a>
	  </div>
	</div>
	<div id="slide4" class="carousel-item relative w-full">
	  <img
	  	src="./certificados/data_science_method.png"
		class="w-full" />
	  <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
		<a href="#slide3" class="btn btn-circle">❮</a>
		<a href="#slide5" class="btn btn-circle">❯</a>
	  </div>
	</div>
	<div id="slide5" class="carousel-item relative w-full">
		<img
			src="./certificados/diploma-bd.png"
		  class="w-full" />
		<div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
		  <a href="#slide4" class="btn btn-circle">❮</a>
		  <a href="#slide6" class="btn btn-circle">❯</a>
		</div>
	  </div>
	  <div id="slide6" class="carousel-item relative w-full">
		<img
			src="./certificados/fastapi.png"
		  class="w-full" />
		<div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
		  <a href="#slide5" class="btn btn-circle">❮</a>
		  <a href="#slide7" class="btn btn-circle">❯</a>
		</div>
	  </div>
	  <div id="slide7" class="carousel-item relative w-full">
		<img
			src="./certificados/funciones_estructuras_control.png"
		  class="w-full" />
		<div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
		  <a href="#slide6" class="btn btn-circle">❮</a>
		  <a href="#slide8" class="btn btn-circle">❯</a>
		</div>
	  </div>
	  <div id="slide8" class="carousel-item relative w-full">
		<img
			src="./certificados/fundamentos_python.png"
		  class="w-full" />
		<div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
		  <a href="#slide7" class="btn btn-circle">❮</a>
		  <a href="#slide9" class="btn btn-circle">❯</a>
		</div>
	  </div>
	  <div id="slide9" class="carousel-item relative w-full">
		<img
			src="./certificados/Introduction_to_data_science.png"
		  class="w-full" />
		<div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
		  <a href="#slide8" class="btn btn-circle">❮</a>
		  <a href="#slide10" class="btn btn-circle">❯</a>
		</div>
	  </div>
	  <div id="slide10" class="carousel-item relative w-full">
		<img
			src="./certificados/lenguajes_programacion.png"
		  class="w-full" />
		<div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
		  <a href="#slide9" class="btn btn-circle">❮</a>
		  <a href="#slide11" class="btn btn-circle">❯</a>
		</div>
	  </div>
	  <div id="slide11" class="carousel-item relative w-full">
		<img
			src="./certificados/matematicas_data_science.png"
		  class="w-full" />
		<div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
		  <a href="#slide10" class="btn btn-circle">❮</a>
		  <a href="#slide12" class="btn btn-circle">❯</a>
		</div>
	  </div>
	  <div id="slide12" class="carousel-item relative w-full">
		<img
			src="./certificados/python_avanzado.png"
		  class="w-full" />
		<div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
		  <a href="#slide11" class="btn btn-circle">❮</a>
		  <a href="#slide13" class="btn btn-circle">❯</a>
		</div>
	  </div>
	  <div id="slide13" class="carousel-item relative w-full">
		<img
			src="./certificados/sql_mysql.png"
		  class="w-full" />
		<div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
		  <a href="#slide12" class="btn btn-circle">❮</a>
		  <a href="#slide14" class="btn btn-circle">❯</a>
		</div>
	  </div>
	  <div id="slide14" class="carousel-item relative w-full">
		<img
			src="./certificados/terminal.png"
		  class="w-full" />
		<div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
		  <a href="#slide15" class="btn btn-circle">❮</a>
		  <a href="#slide13" class="btn btn-circle">❯</a>
		</div>
	  </div>
	  <div id="slide15" class="carousel-item relative w-full">
		<img
			src="./certificados/visualizing_data.png"
		  class="w-full" />
		<div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
		  <a href="#slide14" class="btn btn-circle">❮</a>
		  <a href="#slide2" class="btn btn-circle">❯</a>
		</div>
	  </div>
  </div>