---
import Proyects from './Proyects.astro';
---

<div
  id='proyectos'
  class='flex flex-col items-center gap-6 shadow-md rounded-md w-full py-4 bg-white'
>
  <h2 class='font-semibold'>Proyectos</h2>
  <Proyects
    titulo='BioDash'
    descripcion='Esta backend sirve para llevar el registro de los principales parámetros cardiovasculares y glucemia de los pacientes. Está destinada a ser utilizado por un profesional de la salud, pero podría resultarle útil a cualquier persona que necesite realizar un seguimiento de sus parámetros vitales. Actualmente estoy trabajando el frontend.'
    url='https://biodash.onrender.com/'
    repo_url='https://github.com/markospy/biodash'
    imagen='imagenes/biodash.png'
    tech_1='FastApi'
    tech_2='MySql'
    tech_3='SqlAlchemy'
    tech_4='React'
  />
  <Proyects
    titulo='Bet Master'
    descripcion='Landing page que hice para un cliente. Muestra el historial de profits de un hipster de apuestas deportivas.'
    url='https://www.master-pro.net/'
    imagen='imagenes/bet_master.png'
    tech_1='HTML5'
    tech_2='CSS3'
    tech_3='Tailwind'
    tech_4='Astro'
  />
</div>
