---
import Proyects from './Proyects.astro';
---

<div
  id='proyectos'
  class='flex flex-col items-center shadow-md rounded-md w-full py-4 bg-white'
>
  <h2 class='font-semibold'>Proyectos personales</h2>
  <Proyects
    titulo='BioDash'
    descripcion='Esta backend sirve para llevar el registro de los principales parámetros cardiovasculares y glucemia de los pacientes. Está destinada a ser utilizado por un profesional de la salud, pero podría resultarle útil a cualquier persona que necesite realizar un seguimiento de sus parámetros vitales. Actualmente estoy trabajando el frontend.'
    url='https://biodash.onrender.com/'
    imagen='imagenes/biodash.png'
    tech_1='FastApi'
    tech_2='MySql'
    tech_3='SqlAlchemy'
    tech_4='React'
  />
</div>
