<div class='flex flex-col gap-4 justify-center w-11/12'>
  <p class='text-sm px-2 leading-relaxed place-self-center'>
    ¡Hola! Soy <span class='font-semibold'>Marcos Antonio Ávila Morales</span>, un programador <span class='font-semibold'>Full Stack</span> especializado en <span class='font-semibold'>Python y JavaScript</span>. Mi pasión es desarrollar proyectos con una perspectiva clara de negocio y crecimiento, convirtiéndome en el candidato ideal para empresas y startups que buscan a alguien proactivo, motivado y comprometido con marcar una diferencia.
  </p>
  <p class='text-sm px-2 leading-relaxed place-self-center'>
    Aunque llevo dos años estudiando programación, mi compromiso con la mejora continua es inquebrantable. Con una fuerte inclinación por el <span class='font-semibold'>emprendimiento</span>, he profundizado en la programación y los negocios digitales. Actualmente, estoy trabajando en mis propios proyectos y he lanzado un <span class='font-semibold'>blog</span> donde comparto temas de <span class='font-semibold'>programación</span> y <span class='font-semibold'>emprendimiento</span>, además de mis reflexiones sobre los desafíos que enfrentamos como <span class='font-semibold'>programadores</span>.
  </p>
  <p class='text-sm px-2 leading-relaxed place-self-center'>
    Mi principal objetivo es ganar experiencia práctica a través de la creación de proyectos, abarcando desde el <span class='font-semibold'>diseño y manejo de bases de datos</span> hasta la <span class='font-semibold'>creación y consumo de APIs RESTful</span>, <span class='font-semibold'>CI</span>, <span class='font-semibold'>testing</span> y estoy estudiando para incorporar <span class='font-semibold'>Django</span> a mi Stack. Soy un apasionado del <span class='font-semibold'>desarrollo TDD</span>, considerándolo esencial para asegurar la escalabilidad y calidad en proyectos medianos y grandes.
  </p>
  <p class='text-sm px-2 leading-relaxed place-self-center'>
    Estoy ansioso por unirme a un equipo del cual pueda aprender y al que pueda aportar mi entusiasmo y experiencia.
  </p>
  
</div>
