---
import Feacture from './Feacture.astro';
import Python from './svgs_components/Python.astro';
import Javascript from './svgs_components/Javascript.astro';
import Git from './svgs_components/Git.astro';
import GitHub from './svgs_components/GitHub.astro';
import Linux from './svgs_components/Linux.astro';
import Pytest from './svgs_components/Pytest.astro';
import Docker from './svgs_components/Docker.astro';
import MySql from './svgs_components/MySql.astro';
import Postgre from './svgs_components/Postgre.astro';
import Mongo from './svgs_components/Mongo.astro';
import SqlAlchemy from './svgs_components/SqlAlchemy.astro';
import FastApi from './svgs_components/FastApi.astro';
import Html from './svgs_components/Html.astro';
import Css from './svgs_components/Css.astro';
import React from './svgs_components/React.astro';
import AstroI from './svgs_components/AstroI.astro';
import Tailwind from './svgs_components/Tailwind.astro';
---

<div
  class='flex flex-col items-center shadow-md rounded-md w-full py-4 bg-white'
  id='habilidades'
>
  <h2 class='mb-8 font-semibold'>Habilidades técnicas</h2>
  <ul class='flex flex-col w-full p-2 px-4 rounded-md text-sm'>
    <li class='mb-3 text-gray-600 py-2 flex flex-col justify-center'>
      <Feacture>
        <div class='flex items-center w-full'>
          <h3 class='w-3/6'>Lenguajes</h3>
          <div class='flex flex-wrap items-center w-full gap-2'>
            <Python />
            <Javascript />
          </div>
        </div>
      </Feacture>
    </li>
    <li class='mb-3 text-gray-600 flex flex-col justify-center'>
      <Feacture>
        <div class='flex items-center w-full'>
          <h3 class='w-2/6'>Front End</h3>
          <div class='flex flex-wrap items-center w-4/6 gap-2'>
            <Html />
            <Css />
            <React />
            <AstroI />
            <Tailwind />
          </div>
        </div>
      </Feacture>
    </li>
    <li class='my-3 text-gray-600 flex flex-col justify-center'>
      <Feacture>
        <div class='flex flex-nowr items-center w-full'>
          <h3 class='w-3/6'>Back End</h3>
          <div class='flex flex-wrap items-center w-full gap-2'>
            <FastApi />
          </div>
        </div>
      </Feacture>
    </li>
    <li class='my-3 text-gray-600 flex flex-col justify-center'>
      <Feacture>
        <div class='flex items-center w-full'>
          <h3 class='w-3/6'>Data Base</h3>
          <div class='flex flex-wrap items-center w-full gap-2'>
            <MySql />
            <Postgre />
            <Mongo />
            <SqlAlchemy />
          </div>
        </div>
      </Feacture>
    </li>
    <li class='my-3 text-gray-600 flex flex-col justify-center'>
      <Feacture>
        <div class='flex flex-nowrap gap-2 items-center w-full'>
          <h3 class='w-3/6'>DevOps</h3>
          <div class='flex flex-wrap items-stretch w-full gap-2'>
            <Git />
            <GitHub />
            <Linux />
            <Pytest />
            <Docker />
          </div>
        </div>
      </Feacture>
    </li>
  </ul>
</div>
