---
import Experiencia from './Experiencia.astro';
---

<div
  class='flex flex-col items-center shadow-md rounded-md w-full py-4 bg-white'
  id='experiencia'
>
  <h2 class='mb-4 font-semibold'>Experiencia laboral</h2>
  <Experiencia
    puesto='Desarrollador de sistemas de trading algorítmico'
    fecha='feb/2023 - jul/2023'
  />
</div>
