@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}



@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #6a9eff; /* Un azul más claro para el degradado */

    --background: 210 100% 98%; /* Fondo claro */
    --foreground: 210 10% 20%; /* Texto oscuro para contraste */

    --muted: 210 50% 90%; /* Color más claro para elementos menos destacados */
    --muted-foreground: 210 10% 30%; /* Texto oscuro sobre fondo muted */

    --popover: 210 50% 95%; /* Fondo claro para popups */
    --popover-foreground: 210 10% 20%; /* Texto oscuro en popups */

    --card: 210 50% 95%; /* Fondo claro para tarjetas */
    --card-foreground: 210 10% 20%; /* Texto oscuro en tarjetas */

    --border: 210 50% 80%; /* Color de borde más claro */
    --input: 210 50% 90%; /* Fondo claro para campos de entrada */

    --primary: 210 100% 60%; /* Color primario más claro */
    --primary-foreground: 210 10% 95%; /* Texto claro sobre el color primario */

    --secondary: 210 50% 85%; /* Color secundario más claro */
    --secondary-foreground: 210 10% 20%; /* Texto oscuro sobre el color secundario */

    --accent: 210 50% 85%; /* Color de acento más claro */
    --accent-foreground: 210 10% 20%; /* Texto oscuro sobre el color de acento */

    --destructive: 0 100% 60%; /* Color destructivo más claro (rojo) */
    --destructive-foreground: 210 10% 95%; /* Texto claro sobre el color destructivo */

    --ring: 210 100% 60%; /* Color de anillo más claro */

    --radius: 0.5rem;
  }

  .dark {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #245bff;

    --background: 239 65% 4.56%;
    --foreground: 239 10% 97.85%;

    --muted: 239 50% 17.099999999999998%;
    --muted-foreground: 239 10% 55.7%;

    --popover: 239 45% 7.409999999999999%;
    --popover-foreground: 239 10% 97.85%;

    --card: 239 45% 7.409999999999999%;
    --card-foreground: 239 10% 97.85%;

    --border: 239 50% 17.099999999999998%;
    --input: 239 50% 17.099999999999998%;

    --primary: 239 100% 57%;
    --primary-foreground: 239 10% 5.699999999999999%;

    --secondary: 239 50% 17.099999999999998%;
    --secondary-foreground: 239 10% 97.85%;

    --accent: 239 50% 17.099999999999998%;
    --accent-foreground: 239 10% 97.85%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 239 10% 97.85%;

    --ring: 239 100% 57%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.custom-underline {
  text-decoration: underline;
  text-decoration-thickness: 2px; /* Ajusta el grosor aquí */
}